@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: helvetica;
    color: #333;
    box-sizing: border-box;
}

body {

    background-image: url(../image/background-001.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
}

button {
    background-color: #FDFDFD;
    color: #102f5e;
    border: 1px solid #102f5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}

button:hover {
    background-color: #102f5e;
}
button:hover > i {
    color: #fff;
}
button:hover > p {
    color: #fff;
}
button i {
    color: #102f5e ;
    font-weight: bold;
    pointer-events: none;
}

input, select {
    padding: .25rem;
}

.hide {
    display: hide;
}

.to-do-container {
    max-width: 500px;
    margin: 3rem auto;

    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
}

.to-do-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
}